<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="./inc/css/book.css">
</head>
<body>
    <header>
        <h1>Book</h1>
    </header>
    <main>
        <article>
            <section id="seleter">
                <label for="location">Location</label>
                <input type="text" id="location">
                <label for="person">person</label>
                <input type="text" id="person">
            </section>
            <section id="book">
                <table>
                    <thead>
                        <tr>
                            <th id="week">test</th>
                        </tr>
                    </thead>
                    <tbody id="book-list">
                        <tr>
                            <td colspan="3">No book</td>
                        </tr>
                        <tr>
                            <td colspan="3" id="loading">Loading...</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </article>
    </main>
    <script src="./inc/js/book.js"></script>
</body>
</html>