<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form id="register">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="surname" placeholder="surname" id="lastname">
    <input type="password" name="password" placeholder="password">
    <input type="number" name="phone" placeholder="phone">
    <input type="email" name="email" placeholder="email">
    <button type="submit">Register</button>
</form>
<script src="./inc/js/register.js"></script>
</body>
</html>